<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{parts/header :: head}"></div>

<body>

<header th:insert="~{parts/navbar :: navbar}"></header>

<div class="container">
    <div class="py-5 text-center">
        <h2>Информация о сотруднике для администратора</h2>
    </div>

    <div class="row min-vh-100 d-flex">
        <div class="col">
            <h4>Детали сотрудника</h4>
            <a th:href="@{|/api/staff|}" class="btn btn-secondary" role="button">
                <i class="bi bi-arrow-left"></i>
            </a>
            <a th:href="@{|/api/staff/${staff.id}/update/position|}" class="btn btn-warning" role="button">
                <i class="bi bi-gear"></i>
            </a>
            <form th:action="@{|/api/staff/${staff.id}/ban|}" method="post" class="d-inline-block" onsubmit="return confirmBan();">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-lock"></i> Забанить
                </button>
            </form>
            <form th:action="@{|/api/staff/${staff.id}/unban|}" method="post" class="d-inline-block" onsubmit="return confirmUnban();">
                <input type="hidden" name="_method" value="patch" />
                <button type="submit" class="btn btn-warning">
                    <i class="bi bi-unlock"></i> Разбанить
                </button>
            </form>

            <ul class="list-group">
                <li class="list-group-item"><strong>ID:</strong> <span th:text="${staff.id}"/></li>
                <li class="list-group-item"><strong>Логин:</strong> <span th:text="${staff.login}"/></li>
                <li class="list-group-item"><strong>Фамилия:</strong> <span th:text="${staff.secondName}"/></li>
                <li class="list-group-item"><strong>Имя:</strong> <span th:text="${staff.firstName}"/></li>
                <li class="list-group-item"><strong>Отчество:</strong> <span th:text="${staff.lastName}"/></li>
                <li class="list-group-item"><strong>Почта:</strong> <span th:text="${staff.email}"/></li>
                <li class="list-group-item"><strong>Телефон:</strong> <span th:text="${staff.phone}"/></li>
                <li class="list-group-item"><strong>Роль:</strong> <span th:text="${staff.role}"/></li>
                <li class="list-group-item"><strong>Должность:</strong> <span th:text="${staff.position}"/></li>
                <li class="list-group-item"><strong>Статус:</strong> <span th:text="${staff.isDeleted ? 'Заблокирован' : 'Разблокирован'}"/></li>
            </ul>
            <br/>
        </div>
    </div>
</div>

<footer th:insert="~{parts/footer :: footer}"></footer>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript">
    function confirmBan() {
        return confirm('Вы уверены, что хотите забанить пользователя?');
    }

    function confirmUnban() {
        return confirm('Вы уверены, что хотите разбанить пользователя?');
    }
</script>
</body>
</html>