<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{parts/header :: head}"></div>

<body>

<header th:insert="~{parts/navbar :: navbar}"></header>

<div class="container min-vh-100">
    <div class="py-5 text-center">
        <h2>Перемещение склада</h2>
        <p class="lead">Заполните поля и нажмите кнопку 'Переместить склад'</p>
    </div>

    <form enctype="multipart/form-data" action="#" th:action="@{/api/storages/{id}/update(id=${storageId})}" th:object="${storage}" th:method="put" class="needs-validation"
          novalidate>
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-8">
                <h4 class="mb-3 text-center">Поля для заполнения</h4>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="city">Город</label>
                        <input th:field="*{city}" type="text" class="form-control" id="city" placeholder="" value="" required>
                        <small class="text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></small>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="street">Улица</label>
                        <input th:field="*{street}" type="text" class="form-control" id="street" placeholder="" value="" required>
                        <small class="text-danger" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></small>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="house">Номер дома</label>
                        <input th:field="*{house}" type="text" class="form-control" id="house" placeholder="" value="" required>
                        <small class="text-danger" th:if="${#fields.hasErrors('house')}" th:errors="*{house}"></small>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary btn-lg" type="submit" value="Submit">Переместить склад</button>
                </div>
            </div>
        </div>
    </form>
</div>

<footer th:insert="~{parts/footer :: footer}"></footer>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>