<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Мебельный</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="/api/products">Товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/orders">Заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/materials">Материалы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/storages">Складские помещения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/staff">Сотрудники</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

